.clients__title {
	text-align: center;
	font-family: get-font(primary);
	font-weight: 700;
	font-size: 28px;
	letter-spacing: 0.03em;
	line-height: 1.18;
	padding-bottom: 30px;
}

.clients__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;	
}

.clients__icon {
	display: flex;
	border: solid get-color(icon-nonaction) 1px;
	border-radius: 4px;
	width: 170px;
	height: 92px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	fill: get-color(icon-nonaction);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: border, fill;

	&:hover,
	&:focus {
  		fill: get-color(action);
		border: solid get-color(action) 1px;
	}
}

.clients__icon--logo1,
.clients__icon--logo2,
.clients__icon--logo3,  
.clients__icon--logo4,
.clients__icon--logo5 {
  	width: 106px;
  	height: 60px;
}

.clients__icon--logo6 {
  width: 94px;
  height: 44px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.clients__icon {
		width: 210px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.clients__icon {
		width: 226px;
	}
}

@media screen and (min-width: 1200px) {
	.clients__title {
		font-size: 36px;
		line-height: 1.17;
		padding-bottom: 50px;
	}
}



