.contacts {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;

	&__item {
		fill: currentColor;
		text-decoration: none;
		text-align: left;
		color: get-color(contact);
		line-height: 1.14;
		font-size: 14px;
		font-weight: 500;
		font-family: get-font(primary);
		letter-spacing: 0.02em;	
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding-top: 32px;
		padding-bottom: 32px;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-property: color, fill;
	}

	&__item--mail {
		padding-right: 30px;
		padding-left: 345px;
	}

	&__item--phone {
		padding-right: 8px;
	}

	&__icon--mail {
		width: 16px;
		height: 12px;
		margin-right: 10px;
	}

	&__icon--phone {
		width: 10px;
		height: 16px;
		margin-right: 10px;
	}
}

.contacts__item:hover {
	color: get-color(action);
	fill: get-color(action);
}		

@media screen and (min-width: 320px) and (max-width: 767px) {
	.contacts {
		display: none;
	}
}	

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.contacts {
		display: inline-block;
		margin-left: 101px;

		&__item {
			padding-top: 0px;
			padding-bottom: 0px;
			font-size: 12px;
		}
		
		&__item--mail {
			padding-top: 21px;
    		padding-right: 0px;
    		padding-left: 0px;
    		padding-bottom: 10px;
		}
	}
}