.logo {
	font-family: get-font(primary);
	font-size: 24px;
	font-weight: 700;
	line-height: 1.17;
	text-align: left;
	text-decoration: none;
	color: get-color(action);
	letter-spacing: 0.03em;

	&__link {
    	color: get-color(dark-text);
	}

	&__footer {
		color: get-color(light-text);
	}
}

.footer-logo {
	padding-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.footer-logo {
		display: flex;
		justify-content: center;
	}
}	

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.footer-logo {
		padding-left: 100px;
	}
}

@media screen and (min-width: 1200px) {
  	.logo {
    	font-size: 26px;
    	line-height: 1.19;
  	}
}