
.lorem__icon {
	display: flex;
	background: get-bg-color(secondary-bg);
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	height: 120px;
}

.lorem__size {
	width: 70px;
	height: 70px;
}

.lorem__title {
	font-family: get-font(primary);
	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	text-align: left;
	display: flex;
	justify-content: flex-start;
	letter-spacing: 0.03em;
	padding-top: 30px;
	padding-bottom: 10px;
	width: 270px;
}

.lorem__description {
	color: get-color(contact);
	font-family: get-font(primary);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-align: left;
	display: flex;
	font-weight: 400;
	justify-content: flex-end;
}
	
@media screen and (min-width: 320px) and (max-width: 767px) {
   	.lorem {
		padding-top: 30px;
		padding-bottom: 60px;
	
		&__icon {
			margin-top: 30px;
    		width: 450px;
  		}

  		&__title {
    		width: 450px;
    		justify-content: center;
    		text-align: center;
  		}
 
		&__description {
    		width: 450px;
  		}
	}  
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.lorem {
		padding-top: 60px;
		padding-bottom: 60px;
		
		&__icon {
    	width: 354px;
  		}

		&__list {
    	display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
    	justify-content: center;
    	gap: 30px;
  		}

		&__description {
    	width: 354px;
  		} 
	} 	
}

@media screen and (min-width: 1200px) {
	.lorem {
    	padding-bottom: 0px;

		&__icon {
    		width: 270px;
  		}

   		&__list {
    		display: flex;
    		flex-direction: row;
    		flex-wrap: wrap;
    		justify-content: center;
    		gap: 30px;
  		}

   		&__description {
    		width: 270px;
  		}
  	}  
}






