.newsletter {
	padding-left: 70px;

	&__input {
		height: 50px;
		width: 358px;
		color: get-color(light-text);
		margin-top: 20px;
		border: 1px solid rgba(255, 255, 255, 0.3);
  		border-radius: 4px;
  		background-color: get-bg-color(footer-bg);
  		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
		padding-left: 15px;  
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.newsletter__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.newsletter__form {
    display: flex;
	}
}

@media screen and (min-width: 1200px) {
    .newsletter {
	    padding-left: 78px;
        &__input {
            width: 358px;
        }
    }
    .newsletter__form {
    display: flex;
    align-items: center;
    }
}