.social-media {
	padding-top: 16px;
	padding-bottom: 30px;

	&__icon {
		border-radius: 50%;
		border: 1px none;
  		width: 44px;
  		height: 44px;
		display:flex;
		justify-content: center;
		align-items: center;  
	}
}

.socials {
	display: flex;
	gap: 10px;
}

.social-media__icon--team {
	background: none;
	fill: get-color(icon-nonaction);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: background-color, fill;
	
	&:hover,
	&:focus {
  		background-color: get-color(action);
  		fill: get-bg-color(basic-background);
	}
}

.social-media__footer {
	background-color: rgba(255, 255, 255, 0.1);
	fill: get-color(light-text);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: background-color;

	&:hover, 
	&:focus {
		background-color: get-color(action); 
	}
}

.social-media__item--instagram {
	width: 20px;
	height: 20px;
}

.social-media__item--twitter {
	width: 20px;
	height: 16px;
}

.social-media__item--facebook {
	width: 30px;
	height: 30px;
}

.social-media__item--linkedin {
	width: 20px;
	height: 20px;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
	.social-media {
    	padding-bottom: 24px;
    	justify-content: center;
    	width: 450px;
  	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.social-media {
    	padding-bottom: 24px;
    	justify-content: center;
    	width: 354px;
  	}
}

@media screen and (min-width: 1200px) {
	.social-media {
    	justify-content: center;
    	width: 270px;
  	}
}	