.solution {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 400px;

	&__background {
		margin: 0 auto;
		max-width: 1600px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: get-bg-color(intro-bg);
		background-image: linear-gradient(to right, #2f303a66 100%, #2f303a66 100%), url(./images/header_mobile_480x400.jpg);
	}

	&__header {
		font-weight: 900;
		font-size: 26px;
		font-family: get-font(primary);
		line-height: 1.62;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: get-color(light-text);
		width: 365px;
		padding-top: 118px;
		padding-bottom: 30px;
		text-align: center;
	}

	&__button {
		font-weight: 700;
		font-size: 16px;
		font-family: get-font(primary);
		line-height: 1.88;
		width: 200px;
		height: 50px;
		background-color: get-color(action);
		color: get-color(light-text);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		border: 1px none;
		text-align: center;
		letter-spacing: 0.06em;
		cursor: pointer;
		transition-duration: 250ms;
		transition-property: transform;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		
		&:hover {
			transform: scale(1.1);
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  	.solution__background {
	  	background-image: linear-gradient(to right, #2f303a66 100%, #2f303a66 100%), url(./images/header_mobile_480x400.jpg);
  	}

	@media screen and (min-device-pixel-ratio: 2),
    	screen and (min-resolution: 192dpi),
    	screen and (min-resolution: 2dppx) {
    	.solution__background {
      		background-image: linear-gradient(to right, #2f303a66 100%, #2f303a66 100%), url(./images/header_mobile_480x400@2x.jpg);
    	}
  	}  
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  	.solution__background {
    	background-image: linear-gradient(to right, #2f303a66 100%, #2f303a66 100%), url(./images/header_tablet_768x400.jpg);
  	}

  	@media screen and (min-device-pixel-ratio: 2),
    	screen and (min-resolution: 192dpi),
    	screen and (min-resolution: 2dppx) {
    	.solution__background {
      		background-image: linear-gradient(to right, #2f303a66 100%, #2f303a66 100%), url(./images/header_tablet_768x400@2x.jpg);
    	}
  	}
}

@media screen and (min-width: 1200px) {
  	.solution__background {
    	background-image: linear-gradient(to right, #2f303a66 100%, #2f303a66 100%), url(./images/header_desktop_1600x600.jpg);
  	}
  
	@media screen and (min-device-pixel-ratio: 2),
    	screen and (min-resolution: 192dpi),
    	screen and (min-resolution: 2dppx) {
    	.solution__background {
      		background-image: linear-gradient(to right, #2f303a66 100%, #2f303a66 100%), url(./images/header_desktop_1600x600@2x.jpg);
    	}
  	}

  	.solution {
    	height: 600px;
    	
		&__header {
      		font-size: 44px;
      		line-height: 1.37;
      		padding-top: 200px;
      		width: 696px;
    	}
  	}
}